/* You can add global styles to this file, and also import other style files */
.h-110 {
  min-height: 110px;
}
.pr-22 {
  padding-right: 2.2em !important;
}
.text-align-right {
  text-align: right;
  padding-right: 0;
}
.poste-wrapper{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.icon-25{
  font-size: 1.5em;
  min-height: 25px;
  margin-bottom: 1rem; 
}

.bold {
  font-weight: 700 !important;
}

.text-t16 {
  font-size: 16px !important;
}

.text-italic-t12 {
  font-size: 12px !important;
  font-style: italic;
}

.text-italic-t16 {
  font-size: 16px !important;
  font-style: italic;
}
.pt-custom {
  padding-top: 1.2em;
}

.prev {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.foot-card {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
}

.style{
  font-size: 14px;
  color: #9A9A9A;
  font-weight: 400; 

}


.label {
    margin: 0;
}

.formulaire-dasboard {
  display: inline-flex;
  width: 100%;
}
.w-5 {
  min-width: 5.7%;
}

.w-9 {
  min-width: 9.7%;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100%;
}

.select {
  width: 100%;
}


.liste-compte {
  margin-left: 0.7em;
}
.date {
  margin: auto;
}

.bold {
    font-weight: 700;
}
.align-center {
    align-items: center;
}

.justify-right {
  justify-content: right;
}

.inline-flex {
    display: inline-flex;
}

.pt-1 {
    padding-top: 0.25em !important;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

.pr-30 {
  padding-left: 30px;
  padding-right: 45px;
}

.h-20 {
    height: 20%;
}

.h-35 {
  height: 35%;
}

.h-140 {
  min-height: 140px;
}

.h-100 {
    height: 100%;
}

.space-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-flow {
  flex-flow: column;
}

.flex-flow-row {
  flex-flow: row;
}

.scroll-bar {
    overflow-y: auto;
}

.h-400 {
    height: 400px;
}

.m-auto {
    margin: auto;
}

.danger {
    color: red;
}

.highcharts-figure .chart-container {
	width: 300px;
	height: 200px;
	float: left;
}

.highcharts-figure, .highcharts-data-table table {
	width: 600px;
	margin: 0 auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}


.pointeur {
  cursor: pointer;
}
  
.h-190{
  height: 190px;
}

.btn-bpgo {
    border-radius: 10px;
}

.attention {
  height: 40px;
  width: 50px;
  margin-top: 2em;
}

.text-attention {
  margin-top: 2.5em;
  font-size: 18px;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  background-color: #d9534f;
}

@media (max-width: 600px) {
	.highcharts-figure, .highcharts-data-table table {
		width: 100%;
	}
	.highcharts-figure .chart-container {
		width: 300px;
		float: none;
		margin: 0 auto;
	}

}