<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="image">
      </div>
      <div class="card-body h-140">
        <div class="author">
          <a href="#">
            <h2 class="title">Description des données</h2>
          </a>
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <h5>{{nombrePoste}}
                  <br>
                  <small class="bold">Total</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto" [class]="colorer()">
                <h5>{{nombreObsolete}}
                  <br>
                  <small class="bold">Obsolète</small>
                </h5>
              </div>
              <div class="col-lg-3 mr-auto">
                <h5>{{nombreProduit}}
                  <br>
                  <small class="bold">Total</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <div class="card card-user h-35">
      <div class="card-header inline-flex space-between">
        <div class="col-md-6">
          <h5 class="card-title">Ajout d'un poste</h5>
        </div>
        <div class="update pr-3 col-md-6 inline-flex justify-right">
          <button type="submit" class="btn btn-primary" [disabled]="activerBoutonValider()"
            (click)="valider()">Valider</button>
        </div>
      </div>
      <div class="card-body pr-30">
        <form [formGroup]="formAjoutModifPoste">
          <div class="row align-center space-between">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Libelle</label>
                <input formControlName="libelle" type="text" class="form-control" placeholder="Libelle du poste"
                  [value]="formAjoutModifPoste.value.libelle">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Liste des postes de dépenses
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row" *ngFor="let poste of listePostes">
              <div class="col-md-2 col-2 flex-center m-auto">
                <i class="nc-icon nc-money-coins"></i>
              </div>
              <div class="col-md-7 col-7 m-auto">
                {{poste.libelle}}
              </div>
              <div class="col-md-3 col-3">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-pencil"
                    (click)="modifier(poste)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(poste.technicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>





  <div class="col-md-8">
    <div class="card card-user h-35">
      <div class="card-header inline-flex space-between">
        <div class="col-md-6">
          <h5 class="card-title">Ajout d'un compte ou livret</h5>
        </div>

        <div class="update pr-3 col-md-6 inline-flex justify-right">
          <button type="submit" class="btn btn-primary" [disabled]="activerBoutonValiderProduit()"
            (click)="validerProduit()">Valider</button>
        </div>
      </div>
      <div class="card-body pr-30">
        <form [formGroup]="formAjoutModifProduit">
          <div class="row align-center space-between">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Type</label>
                <select type="text" class="form-control" formControlName="type" required="required">
                  <option value="Compte">
                    Compte
                  </option>
                  <option value="Livret">
                    Livret
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="afficherInteret()" class="col-md-5 pr-3 ">
              <div class="form-group">
                <label>Intérêt</label>
                <input formControlName="interet" step="0.01" min="0.01" type="number" class="form-control"
                  placeholder="Intérêt" [value]="formAjoutModifProduit.value.interer">
              </div>
            </div>
          </div>

          <div class="row align-center space-between">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Numero</label>
                <input formControlName="numero" type="text" class="form-control" placeholder="Numéro"
                  [value]="formAjoutModifProduit.value.numero">
              </div>
            </div>
            <div class="col-md-5 pr-3">
              <div class="form-group">
                <label>Libelle</label>
                <input formControlName="libelle" type="text" class="form-control" placeholder="Libelle"
                  [value]="formAjoutModifProduit.value.libelle">
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Liste des comptes
        </h4>
      </div>
      <div class="card-body scroll-bar h-400 px-5">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">ID</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">NUMERO</h6>
              </div>
              <div class="col-md-4 col-2 m-auto">
                <h6 class="text-primary">LIBELLE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">INTERET</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let produit of produits">
              <div class="col-md-2 col-2 m-auto">
                {{produit.produitTechnicalId}}
              </div>
              <div class="col-md-2 col-2 m-auto">
                N° {{produit.numero}}
              </div>
              <div class="col-md-4 col-2 m-auto">
                {{produit.libelle}}
              </div>
              <div class="col-md-2 col-2 m-auto">
                {{produit.interet}}<span *ngIf="produit.interet">%</span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierProduit(produit)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimerProduit(produit.produitTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
