<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="card-header inline-flex space-between w-100">
          <div class="col-md-6">
            <h5 class="card-title">Ajout d'une transaction</h5>
          </div>
          <div class="update pr-3 col-md-6 inline-flex justify-right">
            <button [disabled]="activerBoutonValider()" (click)="valider()" type="submit"
              class="btn btn-primary">Valider</button>
          </div>
        </div>
        <div class="card-body pr-30 pb-3">
          <form [formGroup]="formAjoutModifTransaction">
            <div class="row align-center space-between">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Type</label>
                  <select type="text" class="form-control" formControlName="type" required="required">
                    <option value="CHARGE">
                      Charge
                    </option>
                    <option value="EPARGNE">
                      Epargne
                    </option>
                    <option value="REVENUE">
                      Revenue
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5 pr-0">
                <div class="form-group">
                  <label>Montant</label>
                  <input formControlName="montant" step="0.01" min="0.01" type="number" class="form-control"
                    placeholder="Montant" [value]="formAjoutModifTransaction.value.montant">
                </div>
              </div>
            </div>


            <div class="row align-center space-between pl-3 pb-3">
              <label>Descriprion</label>
              <textarea formControlName="description" class="form-control"></textarea>
            </div>


            <div class="row align-center space-between">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Compte</label>
                  <select type="text" class="form-control" formControlName="produit" required="required">
                    <option *ngFor="let item of listeProduits" [value]="item.produitTechnicalId">
                      {{item.libelle}}
                    </option>
                  </select>
                </div>
              </div>



              <div class="col-md-5 pr-0">
                <div class="form-group">
                  <label>Date</label>
                  <input formControlName="date" type="date" class="form-control" placeholder="Libelle"
                    [value]="formAjoutModifTransaction.value.date">
                </div>
              </div>



              <div class="inline-flex  flex-flow-row mr-4 pt-3 pl-2 col-md-5">
                <div class="radio inline-flex align-center">
                  <input formControlName="fixe" class="label ml-2 mr-2" type="checkbox" value="">
                  <label>
                    Fixe
                  </label>
                </div>
                <div class="radio inline-flex align-center">
                  <input formControlName="mensuel" class="label ml-2 mr-2" type="checkbox" value="">
                  <label>
                    Mensuel
                  </label>
                </div>

                <div class="radio inline-flex align-center">


                  <input formControlName="reelle" class="label ml-2 mr-2" type="checkbox" value="">
                  <label>
                    Reelle
                  </label>

                </div>

              </div>


              <div *ngIf="afficherPoste()" class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Poste</label>
                  <select type="text" class="form-control" formControlName="poste">
                    <option *ngFor="let item of listePoste" [value]="item.technicalId">
                      {{item.libelle}}
                    </option>
                  </select>
                </div>
              </div>




            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6"></div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Revenues
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-4 col-4 m-auto">
                <h6 class="text-primary">DESCRIPTION</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">DATE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">MONTANT</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let revenue of listeRevenues">
              <div class="col-md-4 col-4 m-auto">
                {{revenue.description}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{revenue.date | date: "dd/MM/y"}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{convertNumberToFormatString(revenue.montant)}}<span *ngIf="revenue.montant"></span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierRevenue(revenue)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(revenue.transactionTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Charges fixes
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-4 col-4 m-auto">
                <h6 class="text-primary">DESCRIPTION</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">DATE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">MONTANT</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let chargeF of listeChargesFixe">
              <div class="col-md-4 col-4 m-auto">
                {{chargeF.description}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{chargeF.date | date: "dd/MM/y"}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{convertNumberToFormatString(chargeF.montant)}}<span *ngIf="chargeF.montant"></span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierRevenue(revenue)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(chargeF.transactionTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Epargnes
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-4 col-4 m-auto">
                <h6 class="text-primary">DESCRIPTION</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">DATE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">MONTANT</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let epargne of listeEpargne">
              <div class="col-md-4 col-4 m-auto">
                {{epargne.description}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{epargne.date | date: "dd/MM/y"}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{convertNumberToFormatString(epargne.montant)}}<span *ngIf="epargne.montant"></span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierRevenue(epargne)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(epargne.transactionTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Charges variables
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-4 col-4 m-auto">
                <h6 class="text-primary">DESCRIPTION</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">DATE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">MONTANT</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let chargeV of listeChargesVariables">
              <div class="col-md-4 col-4 m-auto">
                {{chargeV.description}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{chargeV.date | date: "dd/MM/y"}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{convertNumberToFormatString(chargeV.montant)}}<span *ngIf="chargeV.montant"></span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierRevenue(revenue)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(chargeV.transactionTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6"></div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        <h4 class="card-title inline-flex liste-compte">
          <i class="nc-icon nc-bullet-list-67 pt-1"></i> Charges réelles
        </h4>
      </div>
      <div class="card-body scroll-bar h-400">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-4 col-4 m-auto">
                <h6 class="text-primary">DESCRIPTION</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">DATE</h6>
              </div>
              <div class="col-md-2 col-2 m-auto">
                <h6 class="text-primary">MONTANT</h6>
              </div>
              <div class="col-md-2 col-2">
              </div>
            </div>
            <div class="row" *ngFor="let chargeR of listeChargesReelles">
              <div class="col-md-4 col-4 m-auto">
                {{chargeR.description}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{chargeR.date | date: "dd/MM/y"}}
              </div>
              <div class="col-md-2 col-2 m-auto bold">
                {{convertNumberToFormatString(chargeR.montant)}}<span *ngIf="chargeR.montant"></span>
              </div>
              <div class="col-md-2 col-2">
                <button [disabled]="true" class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-pencil" (click)="modifierRevenue(chargeR)"></i></button>
                <button class="btn btn-sm btn-outline-warning btn-round btn-icon"
                  (click)="supprimer(chargeR.transactionTechnicalId)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>





</div>