<div class="row">
  <form [formGroup]="formPeriode" class="formulaire-dasboard ml-3 mb-3">
    <div *ngIf="cacherJourMois()" class="w-5 pr-4">
      <label>Jour</label>
      <select type="text" class="form-select w-100" formControlName="jour" required="required">
        <option *ngFor="let jour of listeJour" [value]="jour">
          {{jour}}
        </option>

      </select>
    </div>

    <div *ngIf="cacherJourMois()" class="w-9 pr-4">
      <label>Mois</label>
      <select type="text" class="form-select w-100" formControlName="libelle" required="required">
        <option *ngFor="let mois of listeMois" [value]="mois.valeur">
          {{mois.libelle}}
        </option>

      </select>
    </div>

    <div class="w-9  pr-4">
      <label>Année</label>
      <select type="text" class="form-select w-100" formControlName="annee" required="required">
        <option *ngFor="let annee of listeAnnee" [value]="annee">
          {{annee}}
        </option>

      </select>


    </div>


    <div class="w-9  pr-4">
      <label>Compte</label>
      <select type="text" class="form-select w-100" formControlName="compte" required="required">
        <option value="COMPTE">
          Compte
        </option>
        <option value="LIVRET">
          Livret
        </option>

      </select>

    </div>


    <div class="radio-bouton flex-center flex-flow mr-4 pt-3">
      <div class="radio inline-flex align-center">
        <input formControlName="radio" type="radio" value="mois">
        <label class="label ml-2 mr-2">Mois</label>
      </div>
      <div class="radio inline-flex align-center">
        <input formControlName="radio" type="radio" value="annee">
        <label class="label ml-2 mr-2">Année</label>
      </div>
    </div>


    <div class="update pr-3 inline-flex pt-custom">
      <button type="submit" class="btn btn-primary btn" (click)="valider()">Valider</button>
    </div>
    <div *ngIf="depenseReellesVsPrev()" class="inline-flex depenseReellesVsPrev()">
      <div class="logo attention">
        <img src="../../../assets/img/attention.png">
      </div>
      <p class="text-danger mx-3 text-attention">
        Les dépenses réelles sont supérieures aux prévisionnelles.
      </p>
    </div>

  </form>

</div>






<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Solde</p>
              <p *ngIf="verifOk" data-toggle="tooltip" data-placement="top" title="(Revenue - charges totales)"
                class="pointeur" [class]="colorerSolde()">
                {{signe}}
                {{convertNumberToFormatString(calculerSoldeReel())}}
              </p>
              <div *ngIf="!verifOk" class="style">
              </div>
              <div *ngIf="!verifOk" class="style">
              </div>
              <div *ngIf="verifOk" class="style">
                Fin {{texteVar}}:
              </div>
              <h6 *ngIf="verifOk" data-toggle="tooltip" data-placement="top" title="(Revenue - charges prev.)"
                class="prev pointeur" [class]="colorerSoldePrev()">{{signePrev}}
                {{convertNumberToFormatString(calculerSoldePrev())}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-satisfied text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Epargnes</p>
              <p class="text-success">{{convertNumberToFormatString(soldeLivret)}}
              <p>
              <div class="style">
                Fin {{texteVar}}:
              </div>
              <h6 class="prev text-success">+ {{convertNumberToFormatString(epargne)}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bank text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Dépenses réelles</p>
              <p class="text-danger">{{convertNumberToFormatString(chargeReelle)}}
              <p>
              <div class="style">
                Ecart :
              </div>
              <h6 data-toggle="tooltip" data-placement="top" title="(Charge réelles - Charges var)"
                class="prev pointeur" [class]="colorerEcart()">
                {{signeEcart}}{{convertNumberToFormatString(calculerEcart())}} €
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-footer ">
        <hr>
        <div class=" stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Dépenses totales</p>
              <p data-toggle="tooltip" data-placement="top" title="(Charges réelles + Charges fixe)"
                class="text-danger">{{convertNumberToFormatString(calculerChargesTotales())}}
              <p>

              <div class="style">
                Fin {{texteVar}}:
              </div>
              <h6 class="prev text-danger">- {{convertNumberToFormatString(calculerChargesTotalesPrev())}}
              </h6>

            </div>
          </div>
        </div>
      </div>
      <div class=" card-footer ">
        <hr>
        <div class=" stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>



</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue prévisionnel</p>
              <p class="text-success">{{convertNumberToFormatString(revenuePrev)}}
              </p>
              <div class="style">
                Réel :
              </div>
              <h6 class="prev text-success">{{convertNumberToFormatString(calculRevenueReel())}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>




  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-chart-pie-36 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Taux endettement</p>
              <p [class]="colorerTauxEndettement()">{{calculTauxEndettement()}} %
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>



  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-cart-simple text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Dépenses prévisionnelles</p>
              <p class="text-danger">{{convertNumberToFormatString(chargeVar)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row h-110">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bank text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Charges fixes</p>
              <p class="text-danger">{{convertNumberToFormatString(chargeFixe)}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="update row inline-flex pt-custom px-5 space-between w-100 pr-22 ">
        <h5 class="col-md-6 bold pl-3 pr-0">
          Dépenses prévisionnelles
        </h5><button type="submit" class="btn btn-primary btn" (click)="afficher()">{{texteBtnAfficher}}</button>
      </div>
      <div class="card-body scroll-bar h-400">
        <div>
          <div class="row space-between px-5" *ngFor="let item of listePoste">
            <div class="poste-wrapper w-100 mb-2" *ngIf="calculerChargeParDateParPoste(item.technicalId, false) > 0">
              <h5 class="col-md-6 bold pl-0 mb-0">
                {{item.libelle}}
              </h5>
              <h5 class="col-md-6 text-align-right bold mb-0">
                {{convertNumberToFormatString(calculerChargeParDateParPoste(item.technicalId, false))}}
              </h5>
            </div>

            <div *ngIf="afficherDetail" class="charge-wrapper w-100">
              <div class="row flex space-between align-center w-100 text-t16"
                *ngFor="let charge of triChargeParDateParPoste(item.technicalId, false)">
                <div class="col-md-1 icon-25 icon-warning">
                  <i *ngIf="!charge.fixe" class="nc-icon nc-cart-simple text-warning"></i>
                  <i *ngIf="charge.fixe" class="nc-icon nc-bank text-warning"></i>
                </div>
                <p class="col-md-3 bold">
                  {{charge.date | date: "dd/MM/y"}}
                </p>
                <p class="col-md-6">
                  {{charge.description}}
                </p>
                <p class="col-md-2 text-align-right text-italic-t16 text-danger">
                  - {{convertNumberToFormatString(charge.montant)}}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">

    <div class="card card-stats">
      <div class="update row inline-flex pt-custom px-5 space-between w-100 pr-0">
        <h5 class="col-md-6 bold pl-3 pr-0">
          Dépenses réelles
        </h5><button type="submit" class="btn btn-primary btn" (click)="afficher()">{{texteBtnAfficher}}</button>
      </div>

      <div class="card-body scroll-bar h-400">

        <div>
          <div class="row space-between px-5" *ngFor="let item of listePoste">
            <div class="poste-wrapper w-100 mb-2" *ngIf="calculerChargeParDateParPoste(item.technicalId, true) > 0">
              <h5 class="col-md-6 bold pl-0 mb-0">
                {{item.libelle}}
              </h5>
              <div *ngIf="!suiviDepensesReelles(item.technicalId)" class="col-md-2 pl-0"></div>
              <div class="progress col-md-2 bold pl-0 pr-0" *ngIf="suiviDepensesReelles(item.technicalId)">
                <div class="progress-bar" [class]="colorerProgressBar(item.technicalId)" role="progressbar"
                  aria-valuemin="0" aria-valuemax="100" [style.width]="suiviDepensesReelles(item.technicalId) + '%'">
                  {{suiviDepensesReelles(item.technicalId)}} %
                </div>
              </div>
              <h5 class="col-md-3 text-align-right bold mb-0">
                {{convertNumberToFormatString(calculerChargeParDateParPoste(item.technicalId, true))}}
              </h5>
              <h6 [class]="colorerPartDepenses(item.technicalId)" class="col-md-1 text-align-right bold mb-0">
                {{partDepensesReelles(item.technicalId)}} %</h6>
            </div>

            <div *ngIf="afficherDetail" class="charge-wrapper w-100">
              <div class="row flex space-between align-center w-100 text-t16"
                *ngFor="let charge of triChargeParDateParPoste(item.technicalId, true)">
                <div class="col-md-1 icon-25 icon-warning">
                  <i *ngIf="charge.fixe" class="nc-icon nc-cart-simple text-warning"></i>
                  <i *ngIf="!charge.fixe" class="nc-icon nc-bank text-warning"></i>
                </div>
                <p class="col-md-3 bold">
                  {{charge.date | date: "dd/MM/y"}}
                </p>
                <p class="col-md-6">
                  {{charge.description}}
                </p>
                <p class="col-md-2 text-align-right text-italic-t16 text-danger">
                  - {{convertNumberToFormatString(charge.montant)}}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i>{{miseAjour}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Repartition revenues - charges totales</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <canvas #pieChart id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-success"></i> Revenue
          <i class="fa fa-circle text-danger"></i> Charges
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Charges</h5>
        <p class="card-category">Evolution des charges</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Charges réelles
          <i class="fa fa-circle text-warning"></i> Charges variables
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div> -->