<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://www.ibps.bpgo.banquepopulaire.fr/cyber/ibp/ate/portal/internet89C3Portal.jsp" target="blank">
      <img class="btn-bpgo" src="../../assets/img/Logo-bpgo.png">
    </a>


  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>