<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        Google Maps
      </div>
      <div class="card-body ">
        <a href="https://www.ibps.bpgo.banquepopulaire.fr/cyber/ibp/ate/portal/internet89C3Portal.jsp" target="framename">
          <img class="btn-bpgo" src="../../assets/img/Logo-bpgo.png">
        </a>
      </div>
    </div>
  </div>
</div>